<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
<title>注册用户</title>
<script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
<script type="text/javascript">
$(function(){
	$("input[type='button']").click(function(){
		var username = $("input[name='username']").val();
		var password = $("input[name='password']").val();
		var repassword = $("input[name='repassword']").val();
		if(username!="" && password!="" && repassword!="" ){
			if(password==repassword){
				$.post("/reg",{
					"username":username,
					"password":password
				},function(data){
					if(data=="success"){
						alert("注册成功");
						window.location.href="/login";
					}else if(data=="failed"){
						alert("注册失败");
						window.location.reload();
					}else{
						alert("出错啦");
						window.location.reload();
					}
				});
			}else{
				alert("两次密码不一致，请重新输入");
			}
			
		}else{
			alert("请将信息输入完善");
			return false;
		}
	});
});
</script>
</head>
<body>
	<form>
		用户名：<input type="text" name="username"> <br>
		密码：<input type="password" name="password"> <br>
		重复密码：<input type="password" name="repassword"> <br>
		<input type="button" value="提交">
	</form>
</body>
</html>